<%include ../partials/header%>
<link rel="stylesheet" href="/gallery.css" />
<%include ../partials/navbar%>
<div class="container-fluid">
    <h1>Remote-Control LED Lamp</h1>

    

    <div class="figure">
        <img class="figure-content" src="/res/portfolio/tinkering/lamp/lamp1.jpg" />
        <span>Glue-up done!</span>
    </div>

    <div class="figure">
        <img class="figure-content" src="/res/portfolio/tinkering/lamp/lamp2.jpg" title="It only exploded once!"/>
        <span>Finished</span>
    </div>
</div>
<%include ../partials/footer%>