<%include ../partials/header%>
<link rel="stylesheet" href="/gallery.css" />
<%include ../partials/navbar%>
<div class="container-fluid">
    <h1>Fountain Pen Wrap</h1>

    <div class="figure">
        <img class="figure-content" src="/res/portfolio/tinkering/penwrap/penwrap1.jpg" />
        <span>Image 1</span>
    </div>
    <div class="figure">
        <img class="figure-content" src="/res/portfolio/tinkering/penwrap/penwrap2.jpg" />
        <span>Image 2</span>
    </div>
</div>
<%include ../partials/footer%>