</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top">
      <a class="navbar-brand" href="/">SV</a>
      <ul class="navbar-nav mr-auto">
        <li id="nav-home" class="nav-item<% if (pageName == "home") {%> active <%}%>">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li id="nav-portfolio" class="nav-item<% if (pageName == "portfolio") {%> active <%}%>">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
      </ul>
    </nav>
