    <script src="https://kit.fontawesome.com/9afd0cad80.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top">
        <a class="navbar-brand" href="/">SV</a>
        <ul class="navbar-nav mr-auto">
            <li id="nav-home" class="nav-item<% if (pageName == "home") {%> active <%}%>">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li id="nav-projects" class="nav-item<% if (pageName == "portfolio") {%> active <%}%>">
                <a class="nav-link" href="/portfolio">Projects</a>
            </li>
            <li id="nav-resume" class="nav-item<% if (pageName == "resume") {%> active <%}%>">
                <a class="nav-link" href="/resume">Professional</a>
            </li>
        </ul>

        <a class="navbar-social" href="mailto:hello@samvasta.com"><i class="fas fa-envelope fa-lg"></i></a>
        <a class="navbar-social" href="https://github.com/samvasta"><i class="fab fa-github-square fa-lg"></i></a>
        <a class="navbar-social" href="https://linkedin.com/in/sam-vasta-b82470123"><i class="fab fa-linkedin fa-lg"></i></a>
    </nav>
