<%include partials/header%>
<%include partials/navbar%>
	<div class="container-fluid">
		<h1>Welcome!</h1>
		This site is still under construction. May I suggest checking out my <a href="/portfolio">portfolio</a>?
	</div>
<%include partials/footer%>
