<%include partials/header%>
<link rel="stylesheet" href="/index.css" />
<link href="https://fonts.googleapis.com/css?family=Nunito:300|Dosis:800&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/9afd0cad80.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container-fluid">

        <div class="row">
            <div class="col-md-5 dosis">
                <div>
                    hi i'm
                </div>
            </div>
            <div class="col-md-7 bebas description-container">
                <div id="desc-develop" class="description">
                    <span>fascinated by UX</span>
                    <span>a software architect</span>
                    <span>stuck in vi :q!?</span>
                    <span>a problem solver</span>
                    <span><a href="/procgen">a full stack developer</a></span>
                </div>
                <div id="desc-tinker" class="description">
                    <span>a fountain pen geek</span>
                    <span>an electronics hobbyist</span>
                    <span><a href="/tinkering">a tinkerer</a></span>
                </div>
                <div id="desc-art" class="description">
                    <span>comfortable in museums</span>
                    <span>passionate about colors</span>
                    <span><strike>a bad painter</strike></span>
                    <span><a href="/art">learning to paint</a></span>
                </div>
                <div id="desc-name" class="description">
                    <span><a href="/resume">sam vasta</a></span>
                </div>
            </div>
        </div>

    </div>

    <footer>
        <a href="mailto:hello@samvasta.com"><i class="fas fa-envelope fa-lg"></i></a>
        <a href="https://github.com/samvasta"><i class="fab fa-github-square fa-lg"></i></a>
        <a href="https://linkedin.com/in/sam-vasta-b82470123"><i class="fab fa-linkedin fa-lg"></i></a>
    </footer>
<%include partials/footer%>
