<%include partials/header%>
<%include partials/navbar%>
		<div class="container-fluid">
			<h1>Wallpaper Generators</h1>

			<p>
				The <span class="proper-noun blue">Wallpaper Generator</span> project was created to explore different techniques of procedural generation.<br />
			</p>

			<h2 id="2013">2013-2014</h2>
			<div class="row categories-list">
				<div class="col-xs-1">
					<a href="/portfolio/landscapes">
						<img src="res/landscape_4.png" />
						<div>
							Landscapes
						</div>
					</a>
				</div>
				<div class="col-xs-1">
					<a href="/portfolio/triangles">
						<img src="res/triangles_2.png" />
						<div>
							Triangles
						</div>
					</a>
				</div>
			</div>


			<h2 id="2015">2015-2016</h2>
			<div class="row categories-list">
				<div class="col-xs-1">
					<a href="/portfolio/geometric">
						<img src="res/shapes_3.png" />
						<div>
							Geometric
						</div>
					</a>
				</div>
				<div class="col-xs-1">
					<a href="/portfolio/bezier">
						<img src="res/bezier_1.png" />
						<div>
							Bezier
						</div>
					</a>
				</div>
				<div class="col-xs-1">
					<a href="/portfolio/hatching">
						<img src="res/hatched_1.png" />
						<div>
							Hatching
						</div>
					</a>
				</div>
			</div>

			<h2 id="2017">2017</h2>
			<div class="row categories-list">
				<div class="col-xs-1">
					<a href="/portfolio/tesselation">
						<img src="res/tess_5.png" />
						<div>
							Tesselation
						</div>
					</a>
				</div>
				<div class="col-xs-1">
					<a href="/portfolio/delaunay">
						<img src="res/delaunay_5.png" />
						<div>
							Triangulation
						</div>
					</a>
				</div>
				<div class="col-xs-1">
					<a href="/portfolio/watercolors">
						<img src="res/fog_2.png" />
						<div>
							Watercolors
						</div>
					</a>
				</div>
				<div class="col-xs-1">
					<a href="/portfolio/allColors">
						<img src="res/all_colors_1.png" />
						<div>
							All Colors
						</div>
					</a>
				</div>
			</div>
		</div>
<%include partials/footer%>
