<%include partials/header%>
<%include partials/navbar%>

<body data-spy="scroll" data-target="#procgen-nav" data-offset="100" style="position:relative">
    <div class="container-fluid">
        <h1 id="procgen">Procedural Generation</h1>

        <div class="categories-list">
            <p>
                <span class="proper-noun blue">Procedural Generation</span> programs aim to create interesting
                content without the need for human input. The designer programs procedures, rules and constraints,
                so variation in the output is nearly limitless.
            </p>
            <p>
                I have implemented procedural generation to create all kinds of content including video game
                levels, character names, and even fictional periodic tables of elements. Recently, I have
                been enjoying creating visual art with procedural generation.
            </p>

            <a href="/procgen">See more</a>
        </div>


        <h1 id="tinkering">Tinkering</h1>

        <div class="categories-list">
            <p>
                For lack of a better word, <span class="proper-noun blue">tinkering</span> is a category for all of my projects that attempt to fix
                or improve things I use every day, or just practice a skill that I want to learn. These projects
                touch on many disciplines including electronics, CAD, and woodworking.
            </p>

            <a href="/tinkering">See more</a>
        </div>

        <h1 id="art">Traditional Art</h1>

        <div class="categories-list">
            <p>
                A gallery of the "traditional" art that I create.
            </p>

            <a href="/art">See more</a>
        </div>
    </div>
</body>
<%include partials/footer%>