<%include partials/header%>
<link rel="stylesheet" href="/gallery.css" />
<%include partials/navbar%>
<div class="container-fluid">
    <h1>Resume</h1>

    Still working on it!
<!--
    <div class="figure">
        <img class="figure-content" src="/res/portfolio/tinkering/penwrap/penwrap1.jpg" />
        <span>Image 1</span>
    </div>
-->
</div>
<%include partials/footer%>