<%include partials/header%>
<%include partials/navbar%>

<body data-spy="scroll" data-target="#procgen-nav" data-offset="100" style="position:relative">
    <div class="container-fluid">
        <div class="row">
            <nav id="procgen-nav" class="bg-light navbar col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <ul style="flex-direction:column;" class="nav side-nav">
                    <li class="nav-item">
                        <a class="nav nav-link ml-3 my-1" href="#2016">2016</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav nav-link ml-3 my-1" href="#2018">2018</a>
                    </li>
                </ul>
            </nav>

            <div class="col-lg-10 col-md-9 col-sm-8 col-xs-6">
                <h2 id="2016">2016</h2>
                <div class="row categories-list">
                    <div class="col-xs-1">
                        <a href="/tinkering/penwrap">
                            <img src="res/portfolio/tinkering/penwrap/penwrap1.jpg" />
                            <div>
                                Pen Wrap
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-1">
                        <a href="/tinkering/lamp">
                            <img src="res/portfolio/tinkering/lamp/lamp2.jpg" />
                            <div>
                                Lamp
                            </div>
                        </a>
                    </div>
                </div>


                <h2 id="2018">2018</h2>
                <div class="row categories-list">
                    <div class="col-xs-1">
                        <a href="/tinkering/keyboard1">
                            <img src="res/portfolio/tinkering/keyboard1/ItsAlive.jpg" />
                            <div>
                                Keyboard
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<%include partials/footer%>