.dosis {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 10vmin;
}

.dosis > div {
    align-content: stretch;
    background-color: var(--blue-mid);
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.bebas {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    vertical-align: bottom;
    font-size: 5vmin;
}

.bebas > div {
    background-color: var(--yellow-light);
}

.row {
    background-color: var(--primary-light);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

body {
    background-color: var(--primary-dark);
    padding-top: 1rem;
}

span {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a {
    color: var(--primary-light);
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
}

a:hover {
    color: var(--primary-light);
    background-color: var(--yellow-mid);
    text-decoration: none;
}

footer {
    padding: 1em;
}

footer > a {
    color: var(--primary-light);
    padding: 0.5em;
    margin: 0.5em;
}

.description-container {
    display: block;
}

.description {
    display: grid;
}

.description span {
    overflow: hidden;
    position: inherit;
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

@media (min-height: 300px){
    body {
        padding-top: 0;
    }
}

@media (min-height: 400px) {
    .row {
        padding-top: 5em;
        padding-bottom: 5em;
    }
}

@media (min-width: 400px) {
    .dosis {
        font-size: 10vmin;
    }
    .bebas {
        font-size: 5vmin;
    }
}

@media (min-width: 800px) {
    .dosis {
        font-size: 8vw;
    }
    .bebas {
        font-size: 4vw;
    }
}

@media (min-width: 1200px){
    .dosis {
        font-size: 4em;
    }

    .dosis > div {
        text-align: right;
    }
    
    .bebas {
        font-size: 3em;
    }

    .row {
        padding: 5em;
    }
    
}

.description span:not(:last-child) {
    animation: animate 0.25s linear 1 forwards;
}

.description span:last-child {
    animation: animatelast 0.25s linear 1 forwards;
}


.description span {
    opacity: 0;
}

#desc-develop span:nth-child(1) {
    animation-delay: 0s;
}
#desc-develop span:nth-child(2) {
    animation-delay: 0.2s;
}
#desc-develop span:nth-child(3) {
    animation-delay: 0.4s;
}
#desc-develop span:nth-child(4) {
    animation-delay: 0.6s;
}
#desc-develop span:nth-child(5) {
    animation-delay: 0.8s;
}

#desc-tinker span:nth-child(1) {
    animation-delay: 1.0s;
}
#desc-tinker span:nth-child(2) {
    animation-delay: 1.2s;
}
#desc-tinker span:nth-child(3) {
    animation-delay: 1.4s;
}

#desc-art span:nth-child(1) {
    animation-delay: 1.6s;
}
#desc-art span:nth-child(2) {
    animation-delay: 1.8s;
}
#desc-art span:nth-child(3) {
    animation-delay: 2.0s;
}
#desc-art span:nth-child(4) {
    animation-delay: 2.2s;
}

#desc-name span:nth-child(1) {
    animation-delay: 2.4s;
}

@keyframes animate {
    0%
    {
        opacity: 0;
        transform: translateY(3em);
    }
    40%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    70%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    100%
    {
        opacity: 0;
        transform: translateY(0px);
    }
}


@keyframes animatelast {
    0%
    {
        opacity: 0;
        transform: translateY(3em);
    }
    40%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    95%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}