<%include ../partials/header %>
	<link rel="stylesheet" href="/portfolio.css" />
<%include ../partials/navbar %>
	<div class="container-fluid">
          <div class="row">
              <%include ../partials/portfolio/wallpapers_nav.ejs%>
              <div class="col-lg-10 col-md-9 col-sm-8 col-xs-6">
                  <h2>Delaunay Triangulation</h2>
                  <div class="figure">
                      <img class="figure-content" src="/res/delaunay_1.png" />
                      <span>Image 1</span>
                  </div>
                  <div class="figure">
                      <img class="figure-content" src="/res/delaunay_2.png" />
                      <span>Image 2</span>
                  </div>
                  <div class="figure">
                      <img class="figure-content" src="/res/delaunay_3.png" />
                      <span>Image 3</span>
                  </div>
                  <div class="figure">
                      <img class="figure-content" src="/res/delaunay_4.png" />
                      <span>Image 4</span>
                  </div>
                  <div class="figure">
                      <img class="figure-content" src="/res/delaunay_5.png" />
                      <span>Image 5</span>
                  </div>
                  <div class="figure">
                      <img class="figure-content" src="/res/delaunay_6.png" />
                      <span>Image 6</span>
                  </div>
              </div>
          </div>
	</div>
<%include ../partials/footer %>
