<%include ../partials/header %>
	<link rel="stylesheet" href="/portfolio.css" />
<%include ../partials/navbar %>
	<div class="container-fluid">
          <div class="row">
              <%include ../partials/portfolio/wallpapers_nav.ejs%>
              <div class="col-lg-10 col-md-9 col-sm-8 col-xs-6">
                  <h2>Hatching</h2>
                  <div class="figure">
                      <img class="figure-content" src="/res/hatched_1.png" />
                      <span>Image 1</span>
                  </div>
                  <div class="figure">
                      <img class="figure-content" src="/res/hatched_2.png" />
                      <span>Image 2</span>
                  </div>
              </div>
          </div>
	</div>
<%include ../partials/footer %>
