<%include ../partials/header %>
<link rel="stylesheet" href="/gallery.css" />
<%include ../partials/navbar %>
<div class="container-fluid">
    <div class="row">
        <%include ../partials/portfolio/wallpapers_nav.ejs%>
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-6">
            <h2>Watercolors</h2>
            <div class="figure">
                <img class="figure-content" src="/res/portfolio/watercolors/fog_1.png" />
                <span>Image 1</span>
            </div>
            <div class="figure">
                <img class="figure-content" src="/res/portfolio/watercolors/fog_2.png" />
                <span>Image 2</span>
            </div>
            <div class="figure">
                <img class="figure-content" src="/res/portfolio/watercolors/fog_3.png" />
                <span>Image 3</span>
            </div>
            <div class="figure">
                <img class="figure-content" src="/res/portfolio/watercolors/fog_4.png" />
                <span>Image 4</span>
            </div>
            <div class="figure">
                <div class="figure-content">
                    <iframe src='https://gfycat.com/ifr/UglyReasonableGraysquirrel' frameborder='0' scrolling='no'
                        width='100%' height='100%' allowfullscreen></iframe>
                </div>
                <span>Image 5</span>
            </div>
        </div>
    </div>
</div>
<%include ../partials/footer %>